body {
  background-color: $primaryWhiteColor;
  color: $primaryTextColor;

  font-family: $fontFamily;
  font-weight: $fontWeight;
  font-size: $fontSize;
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $mobile) {
    width: 480px;
  }
  @media screen and (min-width: $tablet) {
    width: 768px;
  }
  @media screen and (min-width: $desktop) {
    width: 1200px;
  }
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;

  @media screen and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
