.page-header {
  min-height: 60px;
  margin-bottom: 0px;
  border-bottom: 1px solid #ececec;

  @media screen and (min-width: $tablet) {
    height: 80px;
    display: flex;
  }
}
.page-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  position: relative;

  @media screen and (min-width: $tablet) {
    height: 80px;
  }
}

.site-nav .item:not(:last-child) {
  @media screen and (min-width: $tablet) {
    margin-right: 50px;
  }
}

/* лого */
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  text-decoration: none;
  letter-spacing: 0.03em;
  color: $primaryTextColor;

  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    margin-right: 81px;
    padding-top: 26px;
    padding-bottom: 26px;
  }
  @media screen and (min-width: $desktop) {
    display: flex;
    justify-content: space-between;
    min-width: 148px;

    font-size: 26px;
    line-height: 1.19;
    margin-right: 85px;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}
.logo span {
  color: $accentColor;
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  fill: $primaryTextColor;

  & .icon-cross {
    display: none;
  }
  &.is-open .icon-cross {
    display: block;
  }
  &.is-open .icon-menu {
    display: none;
  }
  &:hover,
  &:focus {
    fill: $accentColor;
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }
}

/* навигация */
.menu-container {
  @media screen and (max-width: 767px) {
    background-color: $primaryWhiteColor;
    border-top: 1px solid #ececec;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;

    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;

    &.is-open {
      display: block;
      z-index: 2;
    }
  }
  @media screen and (min-width: $tablet) {
    display: flex;
    height: 100%;
  }
  @media screen and (min-width: $desktop) {
    justify-content: space-between;
  }
}

.nav-list {
  @extend %list;

  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
    & .item:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  @media screen and (min-width: $tablet) {
    display: flex;
  }
}

.nav-list .link {
  @extend %link;

  display: inline-block;

  color: $primaryTextColor;

  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  @media screen and (min-width: $tablet) {
    position: relative;
    padding-top: 33px;
    padding-bottom: 33px;
  }
}

.link.current {
  color: $accentColor;
}

.link.current::after {
  content: "";

  opacity: 1;
  display: block;
  bottom: 0;
  cursor: pointer;
  width: 100%;
  height: 4px;
  margin-top: 8px;
  background-color: $accentColor;
  background-size: auto;
  border-radius: 2px;
  @media screen and (min-width: $tablet) {
    position: absolute;
  }
}

/* контакты */
.page-header .contact-list {
  @extend %list;

  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 84px;
    padding-top: 21px;
    padding-bottom: 21px;
  }
  @media screen and (min-width: $desktop) {
    flex-wrap: nowrap;
    margin-left: 305px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contact-list .item + .item {
  margin-top: 16px;
  @media screen and (min-width: $tablet) {
    margin-left: 0;
    margin-top: 10px;
    margin-bottom: 0px;
  }

  @media screen and (min-width: $desktop) {
    margin-left: 30px;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.page-header .contact {
  color: $secondaryTextColor;
  letter-spacing: 0.02em;
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.14px;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    color: $accentColor;
  }
  &:focus {
    color: $accentColor;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
  }
  @media screen and (min-width: $desktop) {
    font-size: 14px;
  }
}

.icon-contact {
  fill: currentColor;
  margin-right: 8px;
  @media screen and (min-width: $desktop) {
    margin-right: 10px;
  }
}
