.team {
  background-color: #f5f4fa;
}
.team .list {
  @extend %list;
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: $desktop) {
    flex-wrap: nowrap;
  }
}
.team .photo {
  margin-bottom: 30px;
  width: 100%;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.team .title {
  @extend %title;
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
}
.team-list > .item {
  background-color: $primaryWhiteColor;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);

  border-radius: 4px;
  padding-bottom: 24px;
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    width: calc((100% - 2 * 30px) / 2);
    margin-right: 30px;
    margin-bottom: 30px;
    &:nth-child(2n) {
      margin-right: 0;
    }
    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: $desktop) {
    width: calc((100% - 3 * 30px) / 4);
    margin-right: 30px;

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}

.team-name {
  text-align: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 10px;
  @media screen and (min-width: $tablet) {
    line-height: 1.18;
  }
}

.team-job {
  color: $secondaryTextColor;

  text-align: center;

  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  font-weight: 400;
  margin-bottom: 16px;
  margin-top: 0px;
  @media screen and (min-width: $tablet) {
    line-height: 1.18;
  }
}

.team .links-list {
  display: flex;
  justify-content: center;
}

.links-list > .item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.team .link {
  display: flex;
  height: 44px;
  border-radius: 50%;
  padding: 12px;
  justify-content: center;
  align-items: center;
  color: $iconColor;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accentColor;
    color: $primaryWhiteColor;
  }
}

.team-links {
  fill: currentColor;
}
